
<div class="navbar" role="navigation">
	<div class="container-fluid container-nav">
		<ul class="nav navbar-nav navbar-actions navbar-left">
			<li class="hide-1200"><span id="main-menu-toggle"><i class="fa fa-navicon"></i></span></li>
			<li class="show-1200"><span id="sidebar-menu"><i class="fa fa-navicon"></i></span></li>
		</ul>
		<div class="navbar-left">
		</div>
		<div class="navbar-right" data-toggle="dropdown">
			<div class="userbox">
				<a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">
				<div class="profile-info">
					<span class="name">//username//</span>
				</div>
				<i class="fa custom-caret"></i></a>
				<div class="dropdown-menu">
					<ul class="list-unstyled">
						<li class="dropdown-menu-header bk-bg-white bk-margin-top-15"></li>
						<li><a href="#/"><i class="fa fa-power-off"></i> Logout</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="container-fluid content">
	<div class="row">
		<div class="sidebar">
			<div class="sidebar-collapse">
				<div class="sidebar-header">
					<img src="/static/img/logo.png" class="img-responsive" alt=""/>
				</div>
				<div class="sidebar-menu">
					<nav id="menu" class="nav-main" role="navigation">
					<ul class="nav nav-sidebar">
						<span class="widget-heading">Explore</span>
						<li class="nav-parent active opened nav-expanded">
						<a>
						<i class="fa fa-clone" aria-hidden="true"></i><span>Cards</span>
						</a>
						<ul class="nav nav-children">
							<li class="active"><a href="#/dashboard/"><span class="text"> New Card Upload</span></a></li>
							<li><a href="#/dashboard/uploaded-cards/"><span class="text"> Uploaded Cards</span></a></li>
						</ul>
						</li>
						<li class="nav-parent">
						<a href="#/dashboard/pages/">
						<i class="fa fa-bars" aria-hidden="true"></i><span>Pages</span>
						</a>
						<ul class="nav nav-children">
							<li><a href="javascript:void(0)"><span class="text"> Who We Are</span></a></li>
							<li><a href="javascript:void(0)"><span class="text"> Brand Connect</span></a></li>
							<li><a href="javascript:void(0)"><span class="text"> Join Us</span></a></li>
						</ul>
						</li>
						<li class="nav-parent">
						<a href="#/dashboard/published-cards/">
						<i class="fa fa-folder-open-o" aria-hidden="true"></i><span>Draft</span>
						</a>
						<ul class="nav nav-children">
							<li class="active"><a href="#/dashboard/published-cards/"><span class="text"> Published Cards</span></a></li>
							<li><a href="#/dashboard/private-cards/"><span class="text"> Private Cards </span></a></li>
						</ul>
						</li>
					</ul>
					</nav>
				</div>
			</div>
			<div class="sidebar-footer">
				<ul class="sidebar-terms bk-margin-top-10">
					<li></li>
					<li></li>
					<li></li>
					<li></li>
				</ul>
			</div>
		</div>
		<div class="main">
			<div class="page-header">
			</div>
			<div class="row bk-margin-bottom-20 form-horizontal">
				<form name="uploadCardForm">
				<div class="col-md-6 col-sm-12 col-xs-12">
					<div class="form-group">
						<label class="col-md-3 control-label" for="text-input" required>Card Name</label>
						<div class="col-md-9">
							<input type="text" id="text-input" name="title" class="form-control" ng-model="title">
							<span class="help-block">Project Title</span>
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-3 control-label" for="text-input" required>Profile Name</label>
						<div class="col-md-9">
							<input type="text" id="text-input" name="profile_name" class="form-control" ng-model="profile_name" required>
							
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-3 control-label" for="textarea-input" required>Description</label>
						<div class="col-md-9">
							<textarea id="textarea-input" name="desc" rows="9" class="form-control" ng-model="desc"></textarea>
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-3 control-label">Make It</label>
						<div class="col-md-9">
							<div class="radio-custom radio-inline">
								<input type="radio" id="inline-radio1" name="inline-radios" ng-model="status" value="private" checked required>
								<label for="inline-radio1"> Private </label>
							</div>
							<div class="radio-custom radio-inline">
								<input type="radio" id="inline-radio2" name="inline-radios" ng-model="status" value="public" required>
								<label for="inline-radio2"> Public </label>
							</div>
							<div class="radio-custom radio-inline">
								<input type="radio" id="inline-radio3" name="inline-radios" ng-model="status" value="draft" required>
								<label for="inline-radio2"> Draft </label>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-3 control-label" for="text-input">Facebook Link <i class="fa fa-facebook" aria-hidden="true"></i></label>
						<div class="col-md-9">
							<input type="url" name="text-input"  class="form-control" name="fb_link" ng-model="fb_link" required>
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-3 control-label" for="text-input">Instagram Link <i class="fa fa-instagram" aria-hidden="true"></i></label>
						<div class="col-md-9">
							<input type="url" name="text-input" class="form-control" name="insta_link" ng-model="insta_link" required>
							
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-3 control-label" for="text-input">Twitter Link <i class="fa fa-twitter" aria-hidden="true"></i></label>
						<div class="col-md-9">
							<input type="url" name="text-input" class="form-control" name="twitter_link" ng-model="twitter_link" required>
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-3 control-label" for="text-input">YouTube Link <i class="fa fa-youtube-play" aria-hidden="true"></i></label>
						<div class="col-md-9">
							<input type="url" name="text-input" class="form-control" name="youtube_link" ng-model="youtube_link" required>
						</div>
					</div>
					<br clear="all">
					<br clear="all">
					<div class="col-sm-12">
						<h4 class="text-right">YouTube Embed URLs</h4>
						<div class="clearfix">
						</div>
						<span class="help-block text-right">YouTube.com &gt; Video &gt; Share &gt; Embed</span>
					</div>
					<div class="form-group">
						<label class="col-md-3 control-label" for="text-input" >Video 1</label>
						<div class="col-md-9">
							<input type="url" name="video_1" class="form-control" ng-model="youtube_video_1" required>
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-3 control-label" for="text-input">Video 2</label>
						<div class="col-md-9">
							<input type="url" name="video_2" class="form-control" ng-model="youtube_video_2">
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-3 control-label" for="text-input">Video 3</label>
						<div class="col-md-9">
							<input type="url" name="video_3" ng-model="youtube_video_3" class="form-control">
						</div>
					</div>
					<br clear="all">
					<br clear="all">
					<div class="col-sm-12">
						<h4 class="text-right">YouTube PlayList URL</h4>
						<div class="clearfix">
						</div>
						<span class="help-block text-right">www.youtube.com/playlist</span>
					</div>
					<div class="form-group">
						<label class="col-md-3 control-label" for="text-input">YouTube PlayList <i class="fa fa-youtube" aria-hidden="true"></i></label>
						<div class="col-md-9">
							<input type="url" name="youtube_playlist"  class="form-control" ng-model="youtube_playlist" required>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-sm-12 col-xs-12">
					<div class="form-group">
						<label class="col-md-3 control-label" for="text-input">Card Image</label>
						<div class="col-md-9">
							<div class="inn-over">
								<input type="file" name="card_image" id="card_image" ng-model="card_image" accept="image/*" onchange="angular.element(this).scope().uploadFile(this.files, 'card-image')">
								<span>
									<i class="fa fa-upload" aria-hidden="true"></i> Upload</span>
							</div>
							<br>
							<span class="card200x283">
							
							<img src="//show_card_image//" alt="" /></span>
							<span class="help-block with-full-new-100 pull-left">Size must be 200x283px</span>
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-3 control-label" file="file" for="text-input">Profile Image</label>
						<div class="col-md-9">
							<div class="inn-over">
								<input type="file" name="profile_image" ng-model="profile_image" onchange="angular.element(this).scope().uploadFile(this.files, 'profile-image')"><span><i class="fa fa-upload" aria-hidden="true"></i> Upload</span>
							</div>
							<br>
							<span class="card200x283">
							<img src="//show_profile_image//" alt=""/></span>
							<span class="help-block with-full-new-100 pull-left">Size must be 215x215px</span>
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-3 control-label" for="text-input">Cover Image</label>
						<div class="col-md-9">
							<div class="inn-over">
								<input type="file" name="cover_image" ng-model="cover_image" onchange="angular.element(this).scope().uploadFile(this.files, 'cover-image')" ><span>
									<i class="fa fa-upload" aria-hidden="true"></i> Upload</span>
								
							</div>
							<br>
							<span class="cover-preview">
							<img src="//show_cover_image//" alt=""/></span>
							<span class="help-block with-full-new-100 pull-left">Size must be 1500x248px</span>
						</div>
					</div>
				</div>
				<br clear="all">
				<br clear="all">
				<br clear="all">
				<br clear="all">
				<br clear="all">
				<div class="col-md-12 text-center">
					<a href="#" type="button" ng-disabled="uploadCardForm.$invalid" ng-click="uploadCard()" class="bk-margin-5 btn btn-primary" >
						<i class="fa fa-gavel" aria-hidden="true"></i> Save </a>
					
					<a href="#Profile" type="button" ng-disabled="uploadCardForm.$invalid" ng-click="uploadCard()" class="popup-with-move-anim bk-margin-5 btn btn-success" >
						<i class="fa fa-level-up" aria-hidden="true"></i> Publish to Website</a>
					<div id="Profile" class="dialog dialog-md zoom-anim-dialog mfp-hide">
						 Please make it public !
					</div>
				</div>
				</form>
			</div>
		</div>
	</div>
	<div id="footer">
		<ul>
			<li class="full-width">
			<div class="copyright pull-right">
				<p class="text-muted text-right">
					 &copy; 2016 All Right Reserved.
				</p>
			</div>
			</li>
		</ul>
	</div>
</div>
<div class="clearfix">
</div>
