<div class="container-fluid content">
	<div class="row">
		<!-- Main Page -->
		<div id="content" class="col-sm-12 full">
			<div class="row">
				<div class="register-box" ng-controller="SignUpController">
					<div class="panel">
						<div class="panel-body">
							<div class="header bk-margin-bottom-20 text-center">
								<img src="static/img/OneAxcess-login.png" class="img-responsive" alt=""/>
							</div>
							<form name='registerForm' class="form-horizontal register" ng-submit="signUp()">
                                //msg//
								<div class="bk-padding-left-20 bk-padding-right-20">
									<div class="form-group">
										<div class="row">
											<div class="col-sm-6">
												<label>First Name*</label>
												<input name="fname" ng-model='fname' type="text" class="form-control bk-margin-bottom-10" placeholder="First Name" required/>
											</div>
											<div class="col-sm-6">
												<label>Last Name*</label>
												<input name="lname" ng-model='lname' type="text" class="form-control bk-margin-bottom-10" placeholder="Last Name" required/>
											</div>
										</div>
									</div>
									<div class="form-group">
										<label>Email*</label>
										<input name="name" type="email" class="form-control" placeholder="Email"
											   ng-model='email' pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" required/>
									</div>
									<div class="form-group">
										<div class="row">
											<div class="col-sm-6">
												<label>Password*</label>
												<input name="pwd" ng-model="pwd" type="password" class="form-control bk-margin-bottom-10"
                                                     placeholder="Password" value="" required />
											</div>
											<div class="col-sm-6">
												<label>Confirm Password*</label>
												<input name="pwdConfirm" ng-model="pwdConfirm" type="password" ng-pattern="pwd"
                                                       class="form-control bk-margin-bottom-10" placeholder="Confirm Password" required/>
											</div>
										</div>
									</div>
									<div class="row bk-margin-top-20 bk-margin-bottom-10">
										<div class="col-sm-8">
											<div class="checkbox-custom checkbox-default">
												<input id="AgreeTerms" ng-model='agreebox' name="agreeterms" type="checkbox" required/>
												<label for="AgreeTerms">I agree with <a href="#">terms of use</a></label>
											</div>
										</div>
										<div class="col-sm-4 text-right">
											<button type="submit" ng-disabled="registerForm.$invalid" class="btn btn-primary hidden-xs"><i class="fa fa-pencil" aria-hidden="true"></i> Register</button>
											<button type="submit" class="btn btn-primary btn-block btn-lg visible-xs bk-margin-top-20"><i class="fa fa-pencil" aria-hidden="true"></i> Register</button>
										</div>
									</div>
									<p class="text-center">
										Already have an account? <a href="#/">Log In!</a>
									</p>
								</div>
							</form>
						</div>
					</div>
					<p class="text-center text-muted">
						&copy; 2014 All Right Reserved. | by ODE Media
					</p>
				</div>
			</div>
		</div>
		<!-- End Main Page -->
	</div>
</div>
