<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8"/>
<title>OneDigital</title>
<meta name="description" content="ODEMedia"/>
<meta name="author" content="ODEtv.com"/>
<meta name="keyword" content="ODE, Admin, Admin consol, Dashboard, "/>
<!-- Mobile Metas -->
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
<!-- Import google fonts -->
<link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Shadows+Into+Light" rel="stylesheet" type="text/css"/>
<!-- Favicon and touch icons -->
<link rel="shortcut icon" href="static/ico/favi.png" type="image/x-icon"/>
<!-- start: CSS file-->
<!-- Vendor CSS-->
<link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" class="__web-inspector-hide-shortcut__">
<!-- Plugins CSS-->
<link href="static/plugins/jquery-ui/css/jquery-ui-1.10.4.min.css" rel="stylesheet"/>
<link href="static/plugins/magnific-popup/css/magnific-popup.css" rel="stylesheet"/>
<!-- Theme CSS -->
<link href="static/css/jquery.mmenu.css" rel="stylesheet"/>
<!-- Page CSS -->
<link href="static/css/style.css" rel="stylesheet"/>
<link href="static/css/show_time.css" rel="stylesheet"/>
<link href="static/css/segments.css" rel="stylesheet"/>
<link href="static/css/add-ons.min.css" rel="stylesheet"/>
<script src="static/plugins/modernizr/js/modernizr.js"></script>
<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
			<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
</head>
<body>
<div class="navbar" role="navigation">
	<div class="container-fluid container-nav">
		<ul class="nav navbar-nav navbar-actions navbar-left">
			<li class="hide-1200"><span id="main-menu-toggle"><i class="fa fa-navicon"></i></span></li>
			<li class="show-1200"><span id="sidebar-menu"><i class="fa fa-navicon"></i></span></li>
		</ul>
		<div class="navbar-left">
		</div>
		<div class="navbar-right" data-toggle="dropdown">
			<div class="userbox">
				<a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">
				<div class="profile-info">
					<span class="name">//username//</span>
				</div>
				<i class="fa custom-caret"></i></a>
				<div class="dropdown-menu">
					<ul class="list-unstyled">
						<li class="dropdown-menu-header bk-bg-white bk-margin-top-15"></li>
						<li><a href="#/"><i class="fa fa-power-off"></i> Logout</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="container-fluid content">
	<div class="row">
		<div class="sidebar">
			<div class="sidebar-collapse">
				<div class="sidebar-header">
					<img src="static/img/logo.png" class="img-responsive" alt=""/>
				</div>
				<div class="sidebar-menu">
					<nav id="menu" class="nav-main" role="navigation">
					<ul class="nav nav-sidebar">
						<span class="widget-heading">Explore</span>
						<li class="nav-parent">
						<a href="#/dashboard/">
						<i class="fa fa-clone" aria-hidden="true"></i><span>Cards</span>
						</a>
						<ul class="nav nav-children">
							<li><a href="javascript:void(0)"><span class="text"> New Card Upload</span></a></li>
							<li><a href="javascript:void(0)"><span class="text"> Uploaded Cards</span></a></li>
						</ul>
						</li>
						<li class="nav-parent opened nav-expanded">
						<a>
						<i class="fa fa-bars" aria-hidden="true"></i><span>Pages</span>
						</a>
						<ul class="nav nav-children nav-parent active opened nav-expanded">
							<li ng-class="{'active':selectedtabID === 1}" ng-init="changeTab(1)" ng-click="changeTab(1)">
								<a href="javascript:void(0)">
									<span class="text" ng-click="getPageData(1)">Who We Are</span></a>
							</li>
							<li ng-class="{'active':selectedtabID === 2}" ng-click="changeTab(2)">
								<a href="javascript:void(0)">
									<span class="text" ng-click="getPageData(2)"> Brand Connect</span></a>
							</li>
							<li ng-class="{'active':selectedtabID === 3}" ng-click="changeTab(3)">
								<a href="javascript:void(0)">
									<span class="text" ng-click="getPageData(3)"> Join Us</span></a>
							</li>
						</ul>
						</li>
						<li class="nav-parent">
						<a href="#/dashboard/published-cards/">
						<i class="fa fa-folder-open-o" aria-hidden="true"></i><span>Draft</span>
						</a>
						<ul class="nav nav-children">
							<li class="active"><a href="#/dashboard/published-cards/"><span class="text"> Published Cards</span></a></li>
							<li><a href="#/dashboard/private-cards/"><span class="text"> Private Cards </span></a></li>
						</ul>
						</li>
					</ul>
					</nav>
				</div>
			</div>
			<div class="sidebar-footer">
				<ul class="sidebar-terms bk-margin-top-10">
					<li></li>
					<li></li>
					<li></li>
					<li></li>
				</ul>
			</div>
		</div>
		<div class="main">
			<div class="page-header">
			</div>
			<div class="row bk-margin-bottom-20 form-horizontal" ng-init="getPageData(1)">
				<div class="col-md-6 col-sm-12 col-xs-12">
					<div class="form-group">
						<label class="col-md-3 control-label" for="text-input">Title</label>
						<div class="col-md-9">
							<input type="text" id="text-input" name="title" ng-model="title" class="form-control">
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-3 control-label" for="textarea-input">Description</label>
						<div class="col-md-9">
							<textarea id="textarea-input" name="description" ng-model="description" rows="10" class="form-control">
							</textarea>
						</div>
					</div>
					//update_msg//
					<a href="javascript:void(0)" type="button" ng-click="updatePageData()" class="bk-margin-5 btn btn-primary pull-right">
						<i class="fa fa-gavel" aria-hidden="true"></i> Save Changes</a>
				</div>
			</div>
		</div>
	</div>
	<div id="footer">
		<ul>
			<li class="full-width">
			<div class="copyright pull-right">
				<p class="text-muted text-right">
					 &copy; 2016 All Right Reserved.
				</p>
			</div>
			</li>
		</ul>
	</div>
</div>
<div class="clearfix">
</div>
<script src="static/vendor/js/jquery.min.js"></script>
<script src="static/vendor/js/jquery-2.1.1.min.js"></script>
<script src="static/vendor/js/jquery-migrate-1.2.1.min.js"></script>
<script src="static/vendor/bootstrap/js/bootstrap.min.js"></script>
<!-- Plugins JS-->
<script src="static/plugins/magnific-popup/js/magnific-popup.js"></script>
<!-- Theme JS -->
<script src="static/js/jquery.mmenu.min.js"></script>
<script src="static/js/core.min.js"></script>
<script src="static/js/pages/ui-lightbox.js"></script>
<!-- end: JavaScript-->
</body>
</html>