.hide-480{display:block!important}
.show-480{display:none!important}
.hide-640{display:block!important}
.show-640{display:none!important}
.hide-800{display:block!important}
.show-800{display:none!important}
.hide-1200{display:block!important}
.show-1200{display:none!important}
.menuBall{float:left;width:23%;height:100px;margin:1%;display:inline-block}
.app-preview{width:320px;height:480px;border:1px solid #e3e6f3}
.app-preview-iframe{width:320px;height:480px;float:left}
.channel-veri{padding:1px 5px;font-size:12px;line-height:1.5;border-radius:3px;color:#fff;background-color:#428bca;margin-bottom:0;font-weight:normal;text-align:center;white-space:nowrap;vertical-align:middle;cursor:pointer;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;background-image:none;border:none;border-bottom:1px solid rgba(0,0,0,0.2)}
.channel-veri:hover{background-color:#3071a9;text-decoration:none}
.help-points li{list-style: none;}
.help-points li a{color: #368ee0;
    font-size: 15px;}
@media only screen and (max-width: 1440px) {
.app-preview{width:280px;height:420px;}
.app-preview-iframe{width:280px;height:420px;float:left}
}
@media only screen and (max-width: 1200px) {
.hide-1200{display:none!important}
.show-1200{display:block!important}
}
@media only screen and (max-width: 1170px) {
.menuBall{float:left;width:30%}
}
@media only screen and (max-width: 1024px) {
.menuBall{float:left;width:30%;height:70px}
}
@media only screen and (max-width: 930px) {
.menuBall{float:left;width:48%;height:100px}
}
@media only screen and (max-width: 800px) {
.app-preview{width:230px!important;height:345px!important}
.app-preview-iframe{width:230px;height:345px;float:left}
.hide-800{display:none!important}
.show-800{display:block!important}
}
@media only screen and (max-width: 640px) {
.hide-640{display:none!important}
.show-640{display:block!important}
.feedback-bottom-right{display:none!important}
.channel-veri{width:100%;float:left;margin-bottom:15px;margin-top:10px}
.ngdialog.ngdialog-content-channel-veri .ngdialog-content{margin-top:30%!important;margin-left:10px!important;margin-right:10px!important}
.help-points li h4{font-size: 12px;}
.help-points li a{font-size: 11px;}

}
@media only screen and (max-width: 480px) {
.page-header .breadcrumb{font-size:10px!important}
.hide-480{display:none!important}
.show-480{display:block!important}
}