<div class="container-fluid content">
	<div class="row">
		<!-- Main Page -->
		<div id="content" class="col-sm-12 full">
			<div class="row">
				<div class="login-box" ng-controller="LoginController">

					<div class="panel">
						<div class="panel-body">
							<div class="header bk-margin-bottom-20 text-center">
								<img src="static/img/OneAxcess-login.png" class="img-responsive" alt=""/>
							</div>
							<form name='loginForm' class="form-horizontal login" ng-submit="login()">
								//msg//
								<div class="bk-padding-left-20 bk-padding-right-20">
									<div class="form-group">
										<label>Email</label>
										<div class="input-group input-group-icon">
											<input type="text" class="form-control bk-radius" id="email" value=""
												   ng-model='email' pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" required
												   placeholder="E-mail"/>
											<span class="input-group-addon">
											<span class="icon">
											<i class="fa fa-user"></i>
											</span>
											</span>
										</div>
									</div>
									<div class="form-group">
										<label>Password</label>
										<div class="input-group input-group-icon">
											<input type="password" id="password" class="form-control bk-radius"
												   name="password" ng-model='pass' value="" placeholder="Password" required />
											<span class="input-group-addon">
											<span class="icon">
											<i class="fa fa-key"></i>
											</span>
											</span>
										</div>
									</div>
									<div class="row bk-margin-top-20 bk-margin-bottom-10">
										<!--keep me logged in -->
										 	<div class="col-sm-8">
											<div class="checkbox-custom checkbox-default">
												<!--<input id="RememberMe" name="rememberme" type="checkbox"/>-->
												<!--<label for="RememberMe">Keep me logged in</label>-->
											</div>
										</div>
										<div class="col-sm-4 text-right">
											<button ng-disabled="loginForm.$invalid"  class="btn btn-primary hidden-xs"><i class="fa fa-sign-in" aria-hidden="true"></i> Log In</button>
											<button class="btn btn-primary btn-block btn-lg visible-xs bk-margin-top-20"><i class="fa fa-sign-in" aria-hidden="true"></i> Log In</button>
										</div>
									</div>
									<p class="text-left">
										Don't have an account yet? <a href="#/register/">Register!</a>
										<!--Don't have an account yet? <a href="#/register/">Register!</a>&nbsp;&nbsp;/&nbsp;&nbsp; <a href="">Forget password</a>-->
									</p>
								</div>
							</form>
						</div>
					</div>
					<p class="text-center text-muted">
						&copy; 2016 All Right Reserved.
					</p>
				</div>
			</div>
		</div>
		<!-- End Main Page -->

	</div>
</div>
