
<div class="navbar" role="navigation">
	<div class="container-fluid container-nav">
		<ul class="nav navbar-nav navbar-actions navbar-left">
			<li class="hide-1200"><span id="main-menu-toggle"><i class="fa fa-navicon"></i></span></li>
			<li class="show-1200"><span id="sidebar-menu"><i class="fa fa-navicon"></i></span></li>
		</ul>
		<div class="navbar-left">
		</div>
		<div class="navbar-right" data-toggle="dropdown">
			<div class="userbox">
				<a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">
				<div class="profile-info">
					<span class="name">//username//</span>
				</div>
				<i class="fa custom-caret"></i></a>
				<div class="dropdown-menu">
					<ul class="list-unstyled">
						<li class="dropdown-menu-header bk-bg-white bk-margin-top-15"></li>
						<li><a href="#/signout"><i class="fa fa-power-off"></i> Logout</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="container-fluid content">
	<div class="row">
		<div class="sidebar">
			<div class="sidebar-collapse">
				<div class="sidebar-header">
					<img src="/static/img/logo.png" class="img-responsive" alt=""/>
				</div>
				<div class="sidebar-menu">
					<nav id="menu" class="nav-main" role="navigation">
					<ul class="nav nav-sidebar">
						<span class="widget-heading">Explore</span>
						<li class="nav-parent">
						<a href="#/dashboard/">
						<i class="fa fa-clone" aria-hidden="true"></i><span>Cards</span>
						</a>
						<ul class="nav nav-children">
							<li><a href="javascript:void(0)"><span class="text"> New Card Upload</span></a></li>
							<li><a href="javascript:void(0)"><span class="text"> Uploaded Cards</span></a></li>
						</ul>
						</li>
						<li class="nav-parent">
						<a href="#/dashboard/pages/">
						<i class="fa fa-bars" aria-hidden="true"></i><span>Pages</span>
						</a>
						<ul class="nav nav-children">
							<li><a href="javascript:void(0)"><span class="text"> Who We Are</span></a></li>
							<li><a href="javascript:void(0)"><span class="text"> Brand Connect</span></a></li>
							<li><a href="javascript:void(0)"><span class="text"> Join Us</span></a></li>
						</ul>
						</li>
						<li ng-class=class ng-click="addRemoveClass()">
						<a href="#/dashboard/published-cards/">
						<i class="fa fa-folder-open-o" aria-hidden="true"></i><span>Draft</span>
						</a>
						<ul class="nav nav-children">
							<li class="active"><a href="#/dashboard/published-cards/"><span class="text"> Published Cards</span></a></li>
							<li><a href="#/dashboard/private-cards/"><span class="text"> Private Cards </span></a></li>
						</ul>
						</li>
					</ul>
					</nav>
				</div>
			</div>
			<div class="sidebar-footer">
				<ul class="sidebar-terms bk-margin-top-10">
					<li></li>
					<li></li>
					<li></li>
					<li></li>
				</ul>
			</div>
		</div>
		<div class="main">
			<div class="page-header">
			</div>
			<div class="row bk-margin-bottom-20 form-horizontal">
				<div class="col-md-6 col-sm-6 col-xs-12">
				</div>
				<div class="col-md-6 col-sm-6 col-xs-12">
					<div class="input-group">
						<input id="appendedInputButton" class="form-control" size="16" type="text" placeholder="Search" ng-model="card.$">
						<span class="input-group-btn"><button class="btn btn-success" type="button"><i class="fa fa-search" aria-hidden="true"></i></button></span>
					</div>
				</div>
				<br clear="all">
				<br clear="all">
				
				<div class="col-sm-2 col-xs-6 bk-margin-bottom-15" ng-repeat="card in cards|filter:card">
					<img class="carddd" src="//card.profile_image//" alt=""/>
					<a href="//'#/dashboard/edit-card/' + card.id + '/' //" class="card-edit">
					<i class="fa fa-pencil-square-o" aria-hidden="true"></i>
					</a>
					<div class="card-title-m">
						 //card.title//
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="footer">
		<ul>
			<li class="full-width">
			<div class="copyright pull-right">
				<p class="text-muted text-right">
					 &copy; 2016 All Right Reserved.
				</p>
			</div>
			</li>
		</ul>
	</div>
</div>
<div class="clearfix">
</div>
