/* line 19, styles/cropme.scss */
cropme {
  display: block;
  width: 100%;
  height: 100%;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
/* line 24, styles/cropme.scss */
cropme .step-1 {
  font-family: helvetica, arial, sans-serif;
  position: relative;
  display: block;
  background-color: #f0f0f0;
  border: 4px dashed #ccc;
  letter-spacing: 1px;
  font-size: 15px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 34, styles/cropme.scss */
cropme .cropme-file-input {
  position: absolute;
  top: 20%;
  left: 50%;
  width: 0;
}
/* line 40, styles/cropme.scss */
cropme input[type=file] {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
/* line 47, styles/cropme.scss */
cropme .cropme-button {
  font-weight: bold;
  cursor: pointer;
  text-align: center;
  background: #3ba5b3;
  color: #fff;
  height: 50px;
  width: 250px;
  margin-left: -125px;
  border-radius: 5px;
  line-height: 50px;
  -moz-box-shadow: #ccc 2px 2px 1px 0, #328d99 0 0 2px 2px inset;
  -webkit-box-shadow: #ccc 2px 2px 1px 0, #328d99 0 0 2px 2px inset;
  box-shadow: #ccc 2px 2px 1px 0, #328d99 0 0 2px 2px inset;
}
/* line 58, styles/cropme.scss */
cropme .cropme-button:hover {
  background: #3799a6;
  color: #e6fafc;
}
/* line 62, styles/cropme.scss */
cropme .cropme-button.deactivated {
  opacity: 0.5;
  pointer-events: none;
}
/* line 67, styles/cropme.scss */
cropme .cropme-or {
  pointer-events: none;
  text-align: center;
  color: #ccc;
  margin-top: 25px;
  width: 20px;
  margin-left: -10px;
}
/* line 75, styles/cropme.scss */
cropme .cropme-label {
  margin-top: 25px;
  width: 150px;
  margin-left: -75px;
  pointer-events: none;
  text-align: center;
  color: #444;
}
/* line 83, styles/cropme.scss */
cropme .cropme-error {
  margin-top: 10px;
  text-align: center;
  color: #da4b3e;
  position: relative;
}
/* line 89, styles/cropme.scss */
cropme dropbox {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
/* line 96, styles/cropme.scss */
cropme dropbox.not-available {
  background-color: #fff0f0;
}
/* line 99, styles/cropme.scss */
cropme dropbox.over {
  background-color: #e5ffea;
}
/* line 102, styles/cropme.scss */
cropme dropbox.loading {
  background-color: #aaffaa;
}
/* line 106, styles/cropme.scss */
cropme .overlay-tile {
  position: absolute;
  opacity: 0.5;
  background-color: #000;
}
/* line 111, styles/cropme.scss */
cropme .overlay-border {
  position: absolute;
  border: 2px solid #328d99;
}
/* line 115, styles/cropme.scss */
cropme .step-2 {
  position: relative;
  cursor: move;
  overflow: hidden;
}
/* line 120, styles/cropme.scss */
cropme img {
  float: left;
}
/* line 121, styles/cropme.scss */
cropme canvas {
  display: none;
}
