.error_class{border:1px solid red!important;background-color:rgb(255,212,212)!important}
.loadImg-dynamic{background-color:fff;text-align:center;padding-top:100px;padding-bottom:100px;float:left;width:100%}
.partnerSelected{text-decoration: underline;color: #428bca!important;}
 input[type=date]::-webkit-inner-spin-button,
input[type=date]::-webkit-outer-spin-button  {
    -webkit-appearance: none;
    margin: 0;
}
