@charset "utf-8";
.align-center{text-align:center!important}
.full-width{width:100%!important}
.flota-l{float:left!important}
.flota-r{float:right!important}
.boder-me{border:1px solid #578EBE!important}
.dash-select{margin-top:7px;margin-right:5px}
.views-dash{background:#8674A6!important;border-color:#8674A6!important;color:#FFFFFF}
.userlistwidget-me{font-size:11px;line-height:18px;float:left;width:100%;margin-bottom:9px}
.avatar-me{float:left;margin-right:10px;padding:2px;border:1px solid #eee;border-radius:50%}
.userlistwidget-me a{color:#2d2d2d}
.userlistwidget-me a:hover{color:#2d2d2d}
.channel_thumb_me{width:50px;height:50px;float:left;border-radius:50%}
.top-videos-thums{float:left;width:100%}
.top-videos-thums img{float:left;width:100%}
.bk-fg-primary-me{color:#FFFFFF!important}
.erning-dash{background:#43B5AD!important;border-color:#43B5AD!important}
.likes-dash{background:#578EBE!important;border-color:#578EBE!important}
.dislike-dash{background:#DE486A!important;border-color:#C33353!important}
.upload-text-left-blocl-change{float:left;width:100%;text-align:left}
.upload-text-left-blocl-change a{font-style:italic;color:#4f81bd}
.color_white{color:#ffffff!important}
.margin_r_5{margin-right:5px!important}
.margin_top_10{margin-top:10px!important}
.border-left-me{border-left:1px solid #ccc!important}
.font-size-12{font-size:12px!important}
.youtube_boder{border:1px solid #ec2828!important}
.zenga_boder{border:1px solid #f58220!important}
.branded-boder{border:1px solid #428bca!important}
.sugestive-tags-main{float:left;width:100%}
.sugestive-tags{float:left;width:100%;background-color:#FFF;border-radius:2px;padding:5px;border-right-width:1px;border-bottom-width:1px;border-left-width:1px;border-right-style:solid;border-bottom-style:solid;border-left-style:solid;border-right-color:#E0E0E0;border-bottom-color:#E0E0E0;border-left-color:#E0E0E0;margin-bottom:10px}
.sugestive-tags a{border:1px solid #F0882C;-moz-border-radius:2px;-webkit-border-radius:2px;border-radius:2px;display:block;float:left;padding:2px;text-decoration:none;background:#FF7500;color:#fff;margin-right:5px;margin-bottom:5px;font-family:helvetica;font-size:13px;padding-left:10px;padding-right:10px}
.no_margin_me{margin:0!important}
.video-thum-me img{width:100%}
.video-thum-me img:hover{border:0}
.video-thum-me img.selected{border:1px solid #06F}
.file-upload-test{background-color:#fcfcfc;float:left;width:100%;border:1px solid #E0E0E0;min-height:170px;text-align:center;margin-bottom:20px;position:relative}
.upload-input-cender{width:100%;margin-top:5px;text-align:center!important;float:left}
.input-able{float:left;cursor:pointer}
.uploader-able-img{height:50px;background-image:url(../images/upload-psd01.png);float:left;width:100%;background-repeat:no-repeat;background-position:center}
.uploader-able-img:hover{height:50px;background-image:url(../images/upload-psd01-h.png)}
.small-able{width:100%;float:left}
.resumable-progress{margin:30px 0;width:100%;display:none}
.input-able2{width:100%;height:170px;float:left}
.input-able2 input{cursor:alias}
.no-padding{padding:0!important}
.no-padding-top{padding-top:0!important}
.position-absolute{position:absolute!important}
.video-list-ti a{color:#2d2d2d}
a.color-green{color:#03AB54}
.video-like-dislike{width:175px;float:left;margin-top:5px}
.raw-stats{float:left;font-size:10px;line-height:16px;padding:0}
.video-like-dislike a{float:left;margin-top:2.5px;padding-right:3px}
.video-like-dislike img{float:left}
.raw-stats-mid{float:left;font-size:10px;line-height:16px;padding:0;margin-top:10px;margin-bottom:10px;width:100%}
.video-distributed{width:22px;float:right}
.video-distributed a{float:left;margin-bottom:13px;margin-top:-6px}
.video-distributed img{width:20px}
.text-center{text-align:center!important}
.margin-top8px{margin-top:8px!important}
.video-duration-over{position:absolute;bottom:0;padding:2px;background-color:rgba(0,0,0,0.7);font-size:11px;color:#ffffff}
.channel-list-heading{width:100%;float:left}
.channel-edit-list{float:right}
.channel-edit-status{float:right;margin-right:10px}
.channel-edit-list a{float:left;color:#0EA080;font-weight:600}
.channel-img img{width:100%;float:left}
.channel-list-title-02{width:100%;float:left;font-weight:600;color:#428bca;white-space:nowrap;overflow:hidden;text-overflow:ellipsis}
.channel-list-title-02:hover{text-decoration:underline;color:#428bca}
.channel-cover{width:100%;float:left}
.channel-thum-jo-me{width:70px;position:absolute;background-color:#ffffff}
.channel-thum-jo-me img{float:left;width:100%}
.channel-cover-name{font-weight:600;font-size:16px}
.all-channel-block-all-new:hover{background-color:#EEEEEE}
.all-channel-block-all-new{border:1px solid #E0E0E0;padding:10px;-moz-border-radius:2px;-webkit-border-radius:2px;border-radius:2px;overflow:hidden;position:relative}
.channel-list-bind{float:left;width:100%}
.playlist-litle-limit{width:100%;float:left;font-weight:bold;font-size:12px;overflow:hidden;height:20px;white-space:nowrap;text-overflow:ellipsis;color:#578EBE}
.with-full-new-100{width:100%!important}
.flot-left-new{float:left!important}
.add-channels-line{line-height:14px}
.flot-right-new{float:right!important}
.playlist-name{background-color:#578EBE;padding:10px;margin-top:15px;color:#ffffff;margin-left:-20px;margin-right:-20px;padding-left:15px}
.anal-value{width:100%;float:left;text-align:center;font-size:14px;color:#578EBE;font-weight:600}
.or{text-align:center;line-height:32px;font-weight:600}
.up{background-image:url(../images/up.png);background-repeat:no-repeat;padding-left:15px;color:#00be1b;margin-left:5px;margin-right:5px;background-position-y:4px}
.down{background-image:url(../images/down.png);background-repeat:no-repeat;padding-left:15px;color:#dd1010;margin-left:5px;margin-right:5px;background-position-y:4px}
.table-data-color{color:rgb(168,42,42)}
.anal-title-li{color:#578EBE!important;font-size:17px;font-weight:500}
.anal-block{margin-bottom:15px}
.anal-table-back{background-color:rgb(255,239,239);padding:10px;margin-left:-15px;margin-right:-15px}
.channel-main-hold{background:#fff;float:left;z-index:5;width:100%;border-radius:2px;padding:5px;margin-bottom:15px}
.channel-profile-thum{float:left;height:68px;width:68px;border:1px solid #E0E0E0}
.channel-name-txt{float:left;height:70px;width:135px;margin-left:5px}
.channel-name-profile{float:left;height:22px;width:135px;text-overflow:ellipsis;overflow:hidden;white-space:nowrap}
.channel-name-profile a{font-size:12px;font-weight:bold;color:#666;text-overflow:ellipsis;overflow:hidden;white-space:nowrap}
.channel-name-views{float:left;height:16px;width:132px;font-size:10px;color:#666;text-overflow:ellipsis;overflow:hidden;white-space:nowrap}
.channel-lifetime{float:left;height:20px;width:100%;white-space:nowrap;overflow:hidden;text-overflow:ellipsis}
.channel-lifetime a{font-size:10px;color:#666;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;line-height:26px}
.channel-profile-thum img{float: right;
    width: 68px;
    height: 68px;}
.char-info-ll{padding-left:10px;float:left;width:100%}
.select-drop-arrw{background:url(../images/droppng.png) no-repeat #fff;background-position:right;padding-right:13px}
.color-g{color:#43B5AD!important}
.male-chart{float:left;height:10px;width:10px;background-color:#578EBE;margin-top:5px;margin-right:5px}
.female-chart{float:left;height:10px;width:10px;background-color:#E25A59;margin-top:5px;margin-right:5px}
.color-me-blue{color:#578EBE!important}
.margin-bottom-7{margin-bottom:7px!important}
.video-anal-display-big-block-graph{float:left;height:80px;width:100%}
.video-anal-display-big-block-graph-val{padding:10px;float:left;font-size:16px;width:100%}
.video-anal-big-tow-chi-text{float:left;height:190px;width:50%;float:left;height:190px;width:50%}
.sort-arrow-me{opacity:.7;font-size:9px}
.earnings{background-color:#E8FFFD;margin-left:-25px;margin-right:-25px;padding:10px}
.my-apps-app-dispaly{float:left;width:100%;border-right-width:1px;border-right-style:solid;border-right-color:#ddd}
.my-apps-app-dispaly img{width:100%}
.my-apps-name{float:left;width:100%;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;margin-bottom:10px}
.my-apps-name a{color:#167ac6;font-size:20px}
.android{color:#8BCC00!important}
.apple{color:#242424!important}
.windows{color:#00adef!important}
.you-don-hav{width:100%;float:left;text-align:center;font-size:22px}
.select-platform-inner-android{float:left;height:150px;width:100%;background:url(../images/android-logo.png) #8BCC00 no-repeat;background-position:center}
.check-box-select{width:100%!important;height:150px!important}
.select-platform-inner-apple{float:left;height:150px;width:100%;background:url(../images/apple-logo.png) #242424 no-repeat;background-position:center}
.select-platform-inner-windows{float:left;height:150px;width:100%;background:url(../images/windows-logo.png) #00adef no-repeat;background-position:center}
.note-me{font-style:italic;float:left;margin-top:10px}
.tags-suget{border:1px solid #e3e6f3;border-top:none;padding:5px;float:left;width:100%}
.tags-suget a{font-size:11px;padding:5px;border:none;text-shadow:none;border-radius:3px;font-weight:200;font-family:arial;background:#0FB492;margin-right:2px;color:white;float:left;margin-bottom:5px}
.whitebox{background-color:#fdfdfd;border-right:1px solid #eeeeee;border-left:1px solid #eeeeee;border-top:1px solid #ffffff;border-bottom:1px solid #dddddd;border-radius:5px}
.headItemSelected{padding:3px 14px;text-decoration:none;font-weight:300;font-size:18px;color:#ffffff;background-color:#0576b2;border-top:1px solid #0576b2;border-bottom:1px solid #0576b2;border-radius:3px}
.headItem{padding:3px 14px;text-decoration:none;font-weight:300;font-size:18px;color:#444444;background-color:#f7f7f7;border-top:1px solid #f0f0f0;border-bottom:1px solid #fafafa;border-radius:3px}
.headItem:hover{background-color:#f0f0f0}
.headItemSmallSelected{padding:1px 9px;text-decoration:none;font-weight:300;font-size:12px;color:#ffffff;background-color:#444444;border-radius:3px}
.headItemSmall{padding:1px 9px;text-decoration:none;font-weight:300;font-size:12px;color:#444444;border-radius:3px}
.headItemSmall:hover{background-color:#f0f0f0}
.logoViolet{color:#9d0780}
.logoOrange{color:#ff3200}
.logoYellow{color:#ffa000}
.logoBlue{color:#0576b2}
.downloadButton{-moz-box-shadow:inset 0 1px 0 0 #fce2c1;-webkit-box-shadow:inset 0 1px 0 0 #fce2c1;box-shadow:inset 0 1px 0 0 #fce2c1;background:-webkit-gradient(linear,left top,left bottom,color-stop(0.05,#ffc477),color-stop(1,#fb9e25));background:-moz-linear-gradient(center top,#ffc477 5%,#fb9e25 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffc477',endColorstr='#fb9e25');background-color:#ffc477;-moz-border-radius:6px;-webkit-border-radius:6px;border-radius:6px;border:1px solid #eeb44f;display:inline-block;color:#ffffff;font-size:16px;cursor:pointer;cursor:hand;text-align:center;padding:6px 18px;text-shadow:1px 1px 0 #cc9f52}
.downloadButton:active{background:-webkit-gradient(linear,left top,left bottom,color-stop(0.05,#fb9e25),color-stop(1,#ffc477));background:-moz-linear-gradient(center top,#fb9e25 5%,#ffc477 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fb9e25',endColorstr='#ffc477');background-color:#fb9e25}
.downloadButtonDisabled{-moz-box-shadow:inset 0 1px 0 0 #eeeeee;-webkit-box-shadow:inset 0 1px 0 0 #eeeeee;box-shadow:inset 0 1px 0 0 #eeeeee;background:-webkit-gradient(linear,left top,left bottom,color-stop(0.05,#dddddd),color-stop(1,#aaaaaa));background:-moz-linear-gradient(center top,#dddddd 5%,#aaaaaa 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dddddd',endColorstr='#aaaaaa');background-color:#cccccc;-moz-border-radius:6px;-webkit-border-radius:6px;border-radius:6px;border:1px solid #cccccc;display:inline-block;color:#ffffff;font-size:16px;cursor:pointer;cursor:hand;text-align:center;padding:6px 18px;text-shadow:1px 1px 0 #aaaaaa}
span.key{border:1px solid white;border-radius:2px;box-shadow:0 1px 1px #222222;background-color:#555555;width:16px;height:16px;display:inline-block;text-align:center;font-size:12px}
span.longKey{border:1px solid white;border-radius:2px;box-shadow:0 1px 1px #222222;background-color:#555555;width:36px;height:16px;display:inline-block;text-align:center;font-size:12px}
.cover-preview img{width:100%;float:left}
.cover-preview{width:100%;float:left;border:1px solid #e3e6f3;border-radius:3px}
.no-margin-l{margin-left:0!important}
.crop-modal-block{background:transparent;padding:0;text-align:left;width:90%;margin:40px auto;position:relative}
div#croppolaPanel table{border-collapse:collapse;border-spacing:0}
div#croppolaPanel th{padding:0}
div#croppolaPanel td{padding:0}
.useThisCropButton{color:#ffffff;background-color:#0576b2;padding:4px 12px;text-decoration:none;border-radius:3px}
.useThisCropButtonDisabled{color:#999999;background-color:#cccccc;padding:4px 12px;text-decoration:none;border-radius:3px}
.channel-thum{width:220px;float:left;border:1px solid #e3e6f3;border-radius:3px}
.channel-thum img{width:100%;float:left}
.channel-icon{width:100px;float:left;border:1px solid #e3e6f3;border-radius:3px}
.channel-icon img{width:100%;float:left}
.fb-boder{border:1px solid #3b5999!important}
.tw-boder{border:1px solid #1ab2e8!important}
.gp-boder{border:1px solid #c23a2e!important}
.dropdownchu dd,.dropdownchu dt{margin:0;padding:0}
.dropdownchu ul{margin:-1px 0 0}
.dropdownchu dd{position:relative}
.dropdownchu a,.dropdownchu a:visited{color:#777;text-decoration:none;outline:none;font-size:12px;font-family:"Source Sans Pro","Segoe UI","Droid Sans",Tahoma,Arial,sans-serif}
.dropdownchu dt a{display:block;padding:14px 5px 5px 10px;min-height:25px;line-height:10px;overflow:hidden;width:100%;border:1px solid #e3e6f3;border-radius:3px}
.dropdownchu dt a span,.multiSel span{cursor:pointer;display:inline-block;padding:0 3px 2px 0}
.dropdownchu dd ul{background-color:#313E3E;border:0;color:#fff;display:none;left:0;padding:10px 5px;float:left;top:2px;width:100%;list-style:none;max-height:130px;overflow:auto}
.dropdownchu span.value{display:none}
.dropdownchu dd ul li a{padding:5px;display:block}
.dropdownchu dd ul li a:hover{background-color:#fff}
.upload-hh{background-color:#14b55c!important;margin-top:2px;margin-left:2px!important;border:1px solid #0C984B!important;padding:6px 20px!important;color:#FFF;cursor:pointer;border-radius:3px}
.upload-hh:hover{background-color:#109D4F!important}
.no-margin-l-new{margin-left:0!important}
.no-margin-r-new{margin-right:0!important}
.or-font{font-size:24px}
.red-color{color:red;cursor:pointer}
.dropdownchu{float:left;width:100%}
.youtube-back-logo{background:url(../images/youtube-distributed.png) no-repeat;background-position:right}
.multiselect-container{position:absolute;list-style-type:none;margin:0;padding:0;overflow-x:auto;max-height:250px}
.multiselect-container .input-group{margin:5px}
.multiselect-container > li{padding:0}
.multiselect-container > li > a.multiselect-all label{font-weight:700}
.multiselect-container > li.multiselect-group label{margin:0;padding:3px 20px;height:100%;font-weight:700}
.multiselect-container > li.multiselect-group-clickable label{cursor:pointer}
.multiselect-container > li > a{padding:0}
.multiselect-container > li > a > label{margin:0;height:100%;cursor:pointer;font-weight:400;padding:3px 20px 3px 25px}
.multiselect-container > li > a > label.radio,.multiselect-container > li > a > label.checkbox{margin:0}
.multiselect-container > li > a > label > input[type=checkbox]{margin-bottom:5px}
.filter .btn{padding:6px 3px}
.btn-group > .btn-group:nth-child(2) > .multiselect.btn{border-top-left-radius:4px;border-bottom-left-radius:4px}
.form-inline .multiselect-container label.checkbox,.form-inline .multiselect-container label.radio{padding:3px 20px 3px 40px}
.form-inline .multiselect-container li a label.checkbox input[type=checkbox],.form-inline .multiselect-container li a label.radio input[type=radio]{margin-left:-20px;margin-right:0}
.multiselect{border:solid 1px #578EBE;font-size:12px}
.select-her{width:100%;float:left;padding:5px;color:#578EBE}
.app-temp-img img{width:100%;float:left}
.app-splash{width:113px;float:left;border:1px solid #e3e6f3;border-radius:3px}
.app-splash img{width:100%;float:left}
.app-icon{width:100px;float:left;border:1px solid #e3e6f3;border-radius:3px}
.app-icon img{width:100%;float:left}
.app-logo{width:140px;float:left;border:1px solid #e3e6f3;border-radius:3px}
.app-logo img{width:100%;float:left}
.position-reltive{position:relative!important}
#ballMenuContainer{float:left;width:100%;padding-bottom:20px}
@-webkit-keyframes pulse {
0%{-webkit-transform:scale(1) rotate(0deg)}
50%{-webkit-transform:scale(1.1) rotate(-5deg)}
100%{-webkit-transform:scale(1) rotate(0deg)}
}
@-o-keyframes pulse {
0%{-o-transform:scale(1) rotate(0deg)}
50%{-o-transform:scale(1.1) rotate(-5deg)}
100%{-o-transform:scale(1) rotate(0deg)}
}
@-moz-keyframes pulse {
0%{-moz-transform:scale(1) rotate(0deg)}
50%{-moz-transform:scale(1.1) rotate(-5deg)}
100%{-moz-transform:scale(1) rotate(0deg)}
}
@keyframes pulse {
0%{transform:scale(1) rotate(0deg)}
50%{transform:scale(1.1) rotate(-5deg)}
100%{transform:scale(1) rotate(0deg)}
}
@-webkit-keyframes bump {
0%{top:0}
5%{top:5px}
10%{top:0}
100%{top:0}
}
@-o-keyframes bump {
0%{top:0}
5%{top:5px}
10%{top:0}
100%{top:0}
}
@-moz-keyframes bump {
0%{top:0}
5%{top:5px}
10%{top:0}
100%{top:0}
}
@keyframes bump {
0%{top:0}
5%{top:5px}
10%{top:0}
100%{top:0}
}
.ball{float:left;width:100%;height:100%;-moz-border-radius:5px;-webkit-border-radius:5px;-o-border-radius:5px;border-radius:5px;border:2px dashed #fff;text-decoration:none}
.ball:hover{-webkit-animation:pulse 1s ease 0 infinite normal;-o-animation:pulse 1s ease 0 infinite normal;-moz-animation:pulse 1s ease 0 infinite normal;animation:pulse 1s ease 0 infinite normal;-webkit-box-shadow:0 0 30px 0 rgba(0,0,0,0.75);-moz-box-shadow:0 0 30px 0 rgba(0,0,0,0.75);box-shadow:0 0 30px 0 rgba(0,0,0,0.75)}
.ball-selected{border:4px dashed #FFF;-webkit-animation:pulse 1s ease 0 infinite normal;-o-animation:pulse 1s ease 0 infinite normal;-moz-animation:pulse 1s ease 0 infinite normal;animation:pulse 1s ease 0 infinite normal}
.Purple{background-color:#8e44ad}
.Baby-Blue{background-color:#3cabda}
.Ruby-Red{background-color:#ec135d}
.Pink{background-color:#f87bb5}
.Orange{background-color:#fb7f2a}
.Blood-Red{background-color:#9b111e}
.Asphalt{background-color:#34495e}
.Sun-Flower{background-color:#f1c40f}
.Pumkin{background-color:#d35400}
.Black{background-color:#000000}
.Denim{background-color:#2B6CC4}
.sea-blue{background-color:#1E8399}
.menuText{color:#ffffff;position:relative;vertical-align:middle;text-align:center;top:40%;text-decoration:none;font-size:14px}
.menuText a{text-decoration:none}
#menuBall1{-webkit-animation:bump 6s linear 0 infinite normal}
#menuBall2{-webkit-animation:bump 6s linear .5s infinite normal}
#menuBall3{-webkit-animation:bump 6s linear 1s infinite normal}
#menuBall4{-webkit-animation:bump 6s linear 1.5s infinite normal}
#menuBall5{-webkit-animation:bump 6s linear 2s infinite normal}
#menuBall6{-webkit-animation:bump 6s linear 2.5s infinite normal}
#menuBall7{-webkit-animation:bump 6s linear 3s infinite normal}
#menuBall8{-webkit-animation:bump 6s linear 3.5s infinite normal}
#menuBall9{-webkit-animation:bump 6s linear 4s infinite normal}
#menuBall10{-webkit-animation:bump 6s linear 4.5s infinite normal}
#menuBall11{-webkit-animation:bump 6s linear 5s infinite normal}
#menuBall12{-webkit-animation:bump 6s linear 5.5s infinite normal}
.link-icon{height:34px}
.color-green{color:#0FB492!important}
.sort-video-liast{list-style:none;width:100%;background:#F6F6F6}
.sort-mail{padding:0!important;list-style:none;width:100%;float:left}
.sort-img img{width:100%}
.sort-title a{font-size:11px;color:#2d2d2d;float:left;height:18px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;width:100%}
.linked-channle-thum{border:1px solid #ccc;width:30px!important;height:30px!important}
.linked-channle-thum img{width:30px;height:30px}
.margin-top-12{margin-top:12px!important}
.marge-unlinked-video-count{float:left;width:100%;font-size:11px;color:rgb(215,8,8);font-weight:700}
.lastDays{font-size:12px;float:left;color:beige}
.rel-herd{color:#428BCA;font-weight:bold;font-size:20px}
.tab_app{padding:5px!important;font-size:12px!important}
.opacity-0{opacity:0}
.already-updated-ss{background-color:#0FB492!important;color:#ffffff!important}
.published-photos img{float:left;width:100%}
#cropFrame{box-sizing:initial!important}
.repli-yt{width:25px;height:25px;float:left;background:url(../images/youtube-distributed.png) no-repeat}
.radio-yt input[type="radio"]:checked + label:after{background:#d2322d;-webkit-box-shadow:0 0 1px #d2322d;box-shadow:0 0 1px #d2322d}
.radio-zenga input[type="radio"]:checked + label:after{background:#dd7908;-webkit-box-shadow:0 0 1px #d2322d;box-shadow:0 0 1px #d2322d}
.radio-dmotion input[type="radio"]:checked + label:after{background:#005f8b;-webkit-box-shadow:0 0 1px #d2322d;box-shadow:0 0 1px #d2322d}
.yt_color{color:#d2322d!important}
.zenga_color{color:#dd7908!important}
.d_m_color{color:#005f8b!important}
.daily-motion-boder{border:1px solid #005f8b!important}
.boder-me-bra{border:1px solid #ddd!important}
.container-narrow{margin:0 auto;max-width:700px}
.container-narrow > hr{margin:30px 0}
.jumbotron{margin:60px 0;text-align:center}
.jumbotron h1{font-size:72px;line-height:1}
.jumbotron .btn{font-size:21px;padding:14px 24px}
.marketing{margin:60px 0}
.marketing p + h4{margin-top:28px}
.app-datail-name{color:#2B3535;font-size:18px;float:left;margin-bottom:10px;max-width:600px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis}
.app-detail-video-views{font-size:13px;color:#090}
.app-detail-link{color:#167ac6;font-size:15px;font-weight:bold}
table.rating_table{border:0;padding:0;margin-top:3px}
table.rating_table td.stars{width:65px;padding-right:1px;text-align:right}
table.rating_table td.stars i{color:#b7bfca}
.icon-star{background-image:url(../images/star-rating-app.jpg);background-repeat:no-repeat;width:12px;height:13px;float:left}
table.rating_table td.bar{width:205px}
table.rating_table td.bar div{background-color:#EFF1F3}
table.rating_table td.bar div div{height:10px;background-color:#B7BFCA}
table.rating_table td.count{font-size:11px;padding-left:3px}
.loding-data-new{float:left;width:100%;min-height:155px;text-align:center;padding-top:50px}
.mera-pick{border:1px solid #e3e6f3;float:left;width:100%;padding:1%;border-radius:3px}
.part-new2015{color:#368ee0!important;font-size:14px!important;font-weight:bold;padding-bottom:0!important}
.part-new2015-bab{padding-left:20px!important;color:#368ee0!important;padding-bottom:0!important}
.part-new2015-bab:hover{text-decoration:underline!important}
.text-sip{float:left;padding-top:7px}
.multi-full{margin-left:10px}
.oneaxcessmanagement-panel-heading{background:#f6f6f6;line-height:35px;padding:12px 12px 15px;min-height:34px;position:relative;border:1px solid #ddd;border-radius:3px}
.inline15{line-height:15px!important}
.pannel-body-border{border:1px solid #ddd;border-top:none}
.manage-pop{background:#FFF;padding:10px 15px;text-align:left;max-width:1250px;margin:auto;position:relative;border-radius:4px;transition:all 200ms ease-in-out 0}
.verifyornot{background:#FFF;padding:5px;text-align:left;max-width:760px;margin:auto;position:relative;border-radius:4px;transition:all 200ms ease-in-out 0}
.min-heghit-85{min-height:85px!important;background:#fff!important}
.edit-management{cursor:pointer}
.edit-management:hover{color:#000;text-decoration:underline}
multiselect .dropdown-menu > li > a{padding:3px 10px;cursor:pointer;float:left;width:100%}
.dropdown-menu > li > a{display:block;padding:3px 20px;clear:both;font-weight:normal;line-height:20px;color:#333333;white-space:nowrap}
.icon-ok{display:inline-block;width:14px;height:14px;line-height:14px;vertical-align:text-top;background-image:url(../images/rite.png);background-repeat:no-repeat;margin-top:1px}
.btn-link{border-color:transparent;cursor:pointer;color:#0088cc;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0}
.btn-link,.btn-link:active,.btn-link[disabled]{background-color:transparent;background-image:none;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none}
.btn-link:hover,.btn-link:focus{color:#005580;text-decoration:underline;background-color:transparent}
.open > .dropdown-menu{display:block}
.icon-empty{display:inline-block;width:14px;height:14px;line-height:14px;vertical-align:text-top;background-image:url(../images/cross.png);background-repeat:no-repeat;margin-top:1px}
.ngmulti{width:100%;border:1px solid #C3C3C3;border-radius:3px}
.multiselectfilter{width:96%;margin:2%;border-radius:3px;border:1px solid #C3C3C3;padding:3px 3px 3px 5px}
.video-name-trim{white-space:nowrap;overflow:hidden;text-overflow:ellipsis;float:left;width:100%}
.total-vv{float:left;font-size:12px;margin-right:10px;padding-top:2px;color:#0FB492}
.raw-statst-vv{font-size:10px;font-weight:bold;color:#B1B1B1!important}
.cha-primary-tag{color:#47A447;margin-left:10px;font-size:11px}
.assot-channls-count{color:#428BCA;float:right;margin-right:10px}
.my-btn-match{position:fixed!important;right:32px;top:210px;z-index:854}
.img-height{height:30px}
.check-syn{position:absolute!important;top:0;left:0}
.selected-syn-vid{border:1px solid #0FB492!important}
.asso-icons{height:15px;float:right}
.vid-syn-play{position:absolute;right:2px;color:#FFF;opacity:.5;font-size:22px;top:0;padding:0;margin:0;line-height:0}
.ad-vid-chal{position:absolute;right:10px;top:5px}
.assi-chal-list-on{width:5px;height:5px;background:red}
.drop_platform_open{position:absolute;top:100%;left:0;z-index:9;display:block!important;float:left;min-width:160px;padding:5px 0;margin:2px 0 0;font-size:14px;text-align:left;list-style:none;background-color:#fff;-webkit-background-clip:padding-box;background-clip:padding-box;border:1px solid #ccc;border:1px solid rgba(0,0,0,.15);border-radius:4px;-webkit-box-shadow:0 6px 12px rgba(0,0,0,.175);box-shadow:0 6px 12px rgba(0,0,0,.175)}
.chl-list-thum{float:left;margin-right:10px}
.chl-list-thum img{width:50px;height:50px}
.channel-very-thum{float:left;margin-right:5px;width:50px}
.channel-very-thum img{width:100%}
.very-title{float:left;white-space:nowrap;overflow:hidden;text-overflow:ellipsis}
.row-my{width:100%}
.very-smal-txt{float:left;font-size:11px;margin-right:10px}
.panel-default > .panel-heading-defult2{color:#333;background:-webkit-linear-gradient(bottom,#f6f6f6 0%,#ffffff 5px);background:-moz-linear-gradient(bottom,#f6f6f6 0%,#ffffff 5px);background:-o-linear-gradient(bottom,#f6f6f6 0%,#ffffff 5px);background:linear-gradient(bottom,#f6f6f6 0%,#ffffff 5px);border-color:#E8EBF0;line-height:34px;padding:0 15px;margin-bottom:-5px;min-height:34px;-webkit-border-radius:4px 4px 0 0;-moz-border-radius:4px 4px 0 0;border-radius:4px 4px 0 0;position:relative;border-bottom:1px solid #ddd}
.panel .panel-heading-defult2 .panel-title{line-height:40px}
.play-list-icon img{float:left;width:100%}
.playlist-ac-show > .btn-danger{visibility:hidden}
.playlist-ac-show:hover .btn-danger{visibility:visible}
.playlist-ac-show > .select-drop-arrw{visibility:hidden}
.playlist-ac-show:hover .select-drop-arrw{visibility:visible}
.comingsoon{min-height:315px;float:left;width:100%;text-align:center;font-size:50px;color:#00B2F7;padding-top:115px}
.comingsoon small{float:left;width:100%;text-align:center;font-size:18px;color:#00B2F7}
.css-treeview ul,.css-treeview li{padding:0;margin:0;list-style:none}
.css-treeview input{position:absolute;opacity:0}
.css-treeview{font:normal 11px "Segoe UI",Arial,Sans-serif;-moz-user-select:none;-webkit-user-select:none;user-select:none}
.css-treeview a{color:#00f;text-decoration:none}
.css-treeview a:hover{text-decoration:underline}
.css-treeview input + label + ul{margin:0 0 0 22px}
.css-treeview input ~ ul{display:none}
.css-treeview label,.css-treeview label::before{cursor:pointer}
.css-treeview input:disabled + label{cursor:default;opacity:.6}
.css-treeview input:checked:not(:disabled) ~ ul{display:block}
.css-treeview label,.css-treeview label::before{background:url(../images/icons.png) no-repeat}
.css-treeview label,.css-treeview a,.css-treeview label::before{display:inline-block;height:16px;line-height:16px;vertical-align:middle}
.css-treeview label{background-position:18px 0}
.css-treeview label::before{content:"";width:16px;margin:0 22px 0 0;vertical-align:middle;background-position:0 -32px}
.css-treeview input:checked + label::before{background-position:0 -16px}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
.css-treeview{-webkit-animation:webkit-adjacent-element-selector-bugfix infinite 1s}
}
@-webkit-keyframes webkit-adjacent-element-selector-bugfix {
from{padding:0}
to{padding:0}
}
.or-spacer .mask{overflow:hidden;height:20px}
.or-spacer .mask:after{content:'';display:block;margin:-25px auto 0;width:100%;height:25px;border-radius:125px / 12px;box-shadow:0 0 8px black}
.or-spacer span{width:344px;height:50px;position:absolute;bottom:100%;margin-bottom:-25px;left:32%;margin-left:-25px;border-radius:100%;box-shadow:0 2px 4px #999;background:white}
.or-spacer span i{position:absolute;top:4px;bottom:4px;left:4px;right:4px;border-radius:100%;border:1px dashed #aaa;text-align:center;line-height:40px;font-style:normal;color:#999}
.SlectBox{padding:7px 8px}
.SelectClass{position:absolute;top:0;left:0;right:0;height:100%;width:100%;border:none;z-index:1;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;-ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);filter:alpha(opacity=0);-moz-opacity:0;-khtml-opacity:0;opacity:0}
.SumoSelect > .optWrapper > .options > li label,.SumoSelect > .CaptionCont{user-select:none;-o-user-select:none;-moz-user-select:none;-khtml-user-select:none;-webkit-user-select:none}
.SumoSelect{display:inline-block;position:relative;outline:none;width:100%}
.SumoSelect > .CaptionCont{position:relative;border:1px solid #C3C3C3;min-height:14px;background-color:#fff;border-radius:2px;margin:0;width:100%}
.SumoSelect > .CaptionCont > span{display:block;padding-right:30px;text-overflow:ellipsis;white-space:nowrap;overflow:hidden;cursor:default}
.SumoSelect > .CaptionCont > span.placeholder{color:#1d1d1d}
.SumoSelect > .CaptionCont > label{position:absolute;top:0;right:0;bottom:0;width:30px}
.SumoSelect > .CaptionCont > label > i{background:url(../images/droppng.png) no-repeat #fff;background-position:right;display:block;position:absolute;top:0;left:0;right:0;bottom:0;margin:auto;background-repeat:no-repeat}
.SumoSelect > .optWrapper{top:30px;width:100%;position:absolute;left:0;opacity:0;visibility:hidden;transition:opacity 200ms ease-out,top 200ms ease-out,visibility 200ms ease-out;-webkit-transition:opacity 200ms ease-out,top 200ms ease-out,visibility 200ms ease-out;-moz-transition:opacity 200ms ease-out,top 200ms ease-out,visibility 200ms ease-out;-ms-transition:opacity 200ms ease-out,top 200ms ease-out,visibility 200ms ease-out;-o-transition:opacity 200ms ease-out,top 200ms ease-out,visibility 200ms ease-out;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;z-index:-100;background:#fff;border:1px solid #ddd;box-shadow:2px 3px 3px rgba(0,0,0,0.11);border-radius:3px;overflow:hidden}
.SumoSelect > .optWrapper.open{top:35px;visibility:visible;opacity:1;z-index:1000}
.SumoSelect > .optWrapper > .options{list-style:none;display:block;padding:0;margin:0;overflow:auto;border-radius:2px;max-height:250px}
.SumoSelect > .optWrapper.isFloating > .options{max-height:100%;box-shadow:0 0 100px #595959}
.SumoSelect > .optWrapper > .options > li{padding:6px;border-bottom:1px solid #F3F3F3;position:relative}
.SumoSelect > .optWrapper > .options > li:first-child{border-radius:2px 2px 0 0}
.SumoSelect > .optWrapper > .options > li:last-child{border-bottom:none;border-radius:0 0 2px 2px}
.SumoSelect > .optWrapper > .options > li:hover{background-color:#E4E4E4}
.SumoSelect > .optWrapper > .options > li.sel{background-color:#a1c0e4}
.SumoSelect > .optWrapper > .options > li label{text-overflow:ellipsis;white-space:nowrap;overflow:hidden;display:block;cursor:pointer;padding-top:5px}
.SumoSelect > .optWrapper > .options > li span{display:none}
.SumoSelect > .optWrapper.isFloating{position:fixed;top:0;left:0;right:0;width:90%;bottom:0;margin:auto;max-height:90%}
.SumoSelect > .optWrapper > .options > li.disabled{background-color:inherit;pointer-events:none}
.SumoSelect > .optWrapper > .options > li.disabled *{-ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=50);filter:alpha(opacity=50);-moz-opacity:.5;-khtml-opacity:.5;opacity:.5}
.SumoSelect > .optWrapper.multiple > .options > li{padding-left:35px;cursor:pointer}
.SumoSelect > .optWrapper.multiple > .options > li span,.SumoSelect .select-all > span{position:absolute;display:block;width:30px;top:0;bottom:0;margin-left:-35px}
.SumoSelect > .optWrapper.multiple > .options > li span i,.SumoSelect .select-all > span i{position:absolute;margin:auto;left:0;right:0;top:0;bottom:0;width:14px;height:14px;border:1px solid #AEAEAE;border-radius:2px;box-shadow:inset 0 1px 3px rgba(0,0,0,0.15);background-color:#fff}
.SumoSelect > .optWrapper > .MultiControls{display:none;border-top:1px solid #ddd;background-color:#fff;box-shadow:0 0 2px rgba(0,0,0,0.13);border-radius:0 0 3px 3px}
.SumoSelect > .optWrapper.multiple.isFloating > .MultiControls{display:block;margin-top:5px;position:absolute;bottom:0;width:100%}
.SumoSelect > .optWrapper.multiple.okCancelInMulti > .MultiControls{display:block}
.SumoSelect > .optWrapper.multiple.okCancelInMulti > .MultiControls > p{padding:6px}
.SumoSelect > .optWrapper.multiple > .MultiControls > p{display:inline-block;cursor:pointer;padding:12px;width:50%;box-sizing:border-box;text-align:center}
.SumoSelect > .optWrapper.multiple > .MultiControls > p:hover{background-color:#f1f1f1}
.SumoSelect > .optWrapper.multiple > .MultiControls > p.btnOk{border-right:1px solid #DBDBDB;border-radius:0 0 0 3px}
.SumoSelect > .optWrapper.multiple > .MultiControls > p.btnCancel{border-radius:0 0 3px 0}
.SumoSelect > .optWrapper.isFloating > .options > li{padding:12px 6px}
.SumoSelect > .optWrapper.multiple.isFloating > .options > li{padding-left:35px}
.SumoSelect > .optWrapper.multiple.isFloating{padding-bottom:43px}
.SumoSelect > .optWrapper.multiple > .options > li.selected span i,.SumoSelect .select-all.selected > span i,.SumoSelect .select-all.partial > span i{background-color:rgb(17,169,17);box-shadow:none;border-color:transparent;background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAGCAYAAAD+Bd/7AAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAABx0RVh0U29mdHdhcmUAQWRvYmUgRmlyZXdvcmtzIENTNXG14zYAAABMSURBVAiZfc0xDkAAFIPhd2Kr1WRjcAExuIgzGUTIZ/AkImjSofnbNBAfHvzAHjOKNzhiQ42IDFXCDivaaxAJd0xYshT3QqBxqnxeHvhunpu23xnmAAAAAElFTkSuQmCC);background-repeat:no-repeat;background-position:center center}
.SumoSelect.disabled{opacity:.7;cursor:not-allowed}
.SumoSelect.disabled > .CaptionCont{border-color:#ccc;box-shadow:none}
.SumoSelect .select-all{border-radius:3px 3px 0 0;position:relative;border-bottom:1px solid #ddd;background-color:#fff;padding:8px 0 3px 35px}
.SumoSelect .select-all > span i{cursor:pointer}
.SumoSelect .select-all.partial > span i{background-color:#ccc}
.SumoSelect > .optWrapper > .options > li.optGroup{padding-left:5px;text-decoration:underline}
.left{float:left}
.right{float:right}
.clear,.clearer{clear:both}
.clearer{display:block;font-size:0;height:0;line-height:0}
#center-wrapper{margin:0 auto;width:920px}
.column{margin-left:2%;width:32%}
.column.first{margin-left:0}
.sortable-list{list-style:none;margin:0;min-height:60px;padding:0;position:relative!important}
.sortable-item{display:block;margin-bottom:5px;text-align:center;padding:0}
#containment{background-color:#FFA;height:230px}
.placeholder{background-color:#BFB;border:1px dashed #666;height:58px;margin-bottom:5px}
.suggested-video-block{float:left;border:1px solid #ECECEC;width:100%;background-color:#fff}
.sort-img img{width:100%}
.sort-title a{font-size:11px;color:#2d2d2d;float:left;height:18px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;width:100%;text-align:left}
.sugg-video-main{text-align:initial;font-size:12px;font-weight:initial}
.sortlist-me-me{float:left;width:250px;margin:10px}
.devider-me-me{width:800px;float:left}
.sortlist-me-me-btn-box{float:left;margin-top:50px;width:85px}
.navbar .navbar-nav li span{padding:0;height:62px;line-height:62px;position:relative;color:#c8c8c8;border-left:none;text-align:center;cursor:pointer}
.navbar .navbar-actions span i{border:none!important;width:40px;margin-left:0}
.drag-me2 > .drag-btn2{visibility:hidden}
.drag-me2:hover .drag-btn2{visibility:visible}
.top-up-btn-me{float:left;width:85px;height:62px;margin-bottom:5px}
.row-uppu{padding:1px 5px;font-size:12px;line-height:1.5;border-radius:3px;color:#428bca;background-color:#fff;white-space:normal;display:inline-block;margin-bottom:0;font-weight:normal;text-align:center;vertical-align:middle;cursor:pointer;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;background-image:none;border:none;border-bottom:1px solid rgba(0,0,0,0.2)}
.row-uppu:hover{color:#fff;background-color:#428bca}
.sortlist-me-me-match{float:left;margin-top:44px;width:85px}
.top-up-btn-remove{float:left;width:85px;margin-top:7px}
.row-uppu-rev{padding:1px 5px;font-size:12px;line-height:1.5;border-radius:3px;color:#c9302c;background-color:#fff;white-space:normal;display:inline-block;margin-bottom:0;font-weight:normal;text-align:center;vertical-align:middle;cursor:pointer;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;background-image:none;border:none;border-bottom:1px solid rgba(0,0,0,0.2)}
.row-uppu-rev:hover{color:#ffffff;background-color:#c9302c}
.remove-bbt{float:left;margin-top:0;height:58px}
.linked-me{float:left;width:250px;margin:10px}
.andar-bahar{overflow: hidden;
    float: left;
    width: 100%;
    height: 35px;}
.devider-base{float:left;width:100%;margin-bottom:5px}
.input-xlarge{float:left;width:100%}
.notifi-main{padding:10px!important;max-width:260px!important;width:260px!important}
.notifi-msg{max-height:400px;overflow-y:auto;float:left;width:100%}
.list-item-me{float:left;width:100%;line-height:initial;color:#000;margin-bottom:15px;border-bottom:1px solid #EFEFEF;padding-bottom:5px}
.list-item-me a{color:#000!important}
.popup-heading-me{font-size:24px;margin-bottom:15px;border-bottom:1px solid #E6E6E6}
.very-title img{width:20px}
.chichi-name{float:left;overflow:hidden}
.chichi-check{float:left!important;position:absolute!important}
.wizard-progress .steps-progress-createchan{height:2px;margin-left:22%;margin-right:23%;position:relative;top:15px;background:#cccccc}
.bk-margin-top-6{margin-top:6px!important}
#cropme-cancel{color:#fff;background-color:#428bca;white-space:normal;margin-top:5px;display:inline-block;margin-bottom:0;font-size:14px;font-weight:normal;line-height:1.52857143;text-align:center;white-space:nowrap;vertical-align:middle;cursor:pointer;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;background-image:none;border:none;border-radius:3px;border-bottom:1px solid rgba(0,0,0,0.2);float:left}
#cropme-ok{color:#fff;background-color:#0EA080;white-space:normal;margin-top:5px;display:inline-block;margin-bottom:0;font-size:14px;font-weight:normal;line-height:1.52857143;text-align:center;white-space:nowrap;vertical-align:middle;cursor:pointer;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;background-image:none;border:none;border-radius:3px;border-bottom:1px solid rgba(0,0,0,0.2);float:right}
#tooltip{background:#fff;border:1px solid red;padding:3px 10px;z-index:9999;font-size:14px;font-weight:600;border-radius:3px}
.mal-center{float:left;width:100%;padding-top:40px;height:170px}
.tag{margin-right:2px;color:white;float:left;margin-bottom:5px;background:#2693FF;padding-left:5px;padding-right:5px;border-radius:3px;font-size:13px}
.tags-wrapper{float:left;width:100%}
.tag-new{margin-bottom:10px}
.tagName{cursor:pointer}
.overlay-wid{background-color:rgba(0,0,0,0.7);width:500px;height:500px;position:absolute;top:0;left:0}
.pulse{animation-name:pulse;-webkit-animation-name:pulse;animation-duration:1.5s;-webkit-animation-duration:1.5s;animation-iteration-count:infinite;-webkit-animation-iteration-count:infinite}
@keyframes pulse {
0%{transform:scale(0.9);opacity:.7}
50%{transform:scale(1);opacity:1}
100%{transform:scale(0.9);opacity:.7}
}
@-webkit-keyframes pulse {
0%{-webkit-transform:scale(0.95);opacity:.7}
50%{-webkit-transform:scale(1);opacity:1}
100%{-webkit-transform:scale(0.95);opacity:.7}
}


.help-tip{
	position: absolute;
    top: 0px;
    right: 12px;
    text-align: center;
    background-color: #DE486A;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    font-size: 14px;
    line-height: 22px;
    cursor: default;
}

.help-tip:before{
	content:'?';
	font-weight: bold;
	color:#fff;
}

.help-tip:hover p{
	display:block;
	transform-origin: 100% 0%;

	-webkit-animation: fadeIn 0.3s ease-in-out;
	animation: fadeIn 0.3s ease-in-out;

}

.help-tip p{
	display: none;
    text-align: left;
    background-color: #1E2021;
    padding: 10px;
    width: 255px;
    position: absolute;
    border-radius: 3px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    right: -6px;
    top: 25px;
    color: #FFF;
    font-size: 12px;
    line-height: 1.4;
    z-index: 959;
	font-weight: 500;
}

.help-tip p:before{
	position: absolute;
	content: '';
	width:0;
	height: 0;
	border:6px solid transparent;
	border-bottom-color:#1E2021;
	right:10px;
	top:-12px;
}

.help-tip p:after{
	width:100%;
	height:40px;
	content:'';
	position: absolute;
	top:-40px;
	left:0;
}

@-webkit-keyframes fadeIn {
	0% { 
		opacity:0; 
		transform: scale(0.6);
	}

	100% {
		opacity:100%;
		transform: scale(1);
	}
}

@keyframes fadeIn {
	0% { opacity:0; }
	100% { opacity:100%; }
}

.my-help{position:relative;float: right;}

.help-points{padding: 0;
    margin: 0;}
	

	
.color-red-me{color:#DE486A}
.ss-margin-top-125{margin-top:125px !important; }
.ss-hegiht-125{height:125px !important}
.card200x283 {
    width: 79px;
    float: left;
    border: 1px solid #e3e6f3;
    border-radius: 3px;
}
.card200x283 img {
    width: 100%;
    float: left;
   
}

.inn-over {
    width: 100%;
    float: left;
    margin: 7px 0;
}
.inn-over > input {
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
	cursor:pointer
}

.inn-over > span {
    background: #141414;
    color: #ffffff;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
    float: left;
}

.carddd{width:100%; float:left}
.card-edit{position: absolute;
    right: 10px;
    font-size: 20px;
    background: rgba(0, 0, 0, 0.56);
    padding: 2px 5px 4px 12px;
    border-bottom-left-radius: 20px;
    color: #cccccc;
	}
	
.card-title-m{position: absolute;
    bottom: 0;
    padding: 8px;
    left: 10px;
    right: 10px;
    background: rgba(0, 0, 0, 0.56);
	color:#ffffff}
	
	

