@charset "ISO-8859-1";
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{padding:0;margin:0}
a{text-decoration:none}
table{border-spacing:0}
fieldset,img{border:0}
address,caption,cite,code,dfn,em,strong,th,var{font-weight:normal;font-style:normal}
strong{font-weight:bold}
ol,ul{list-style:none;margin:0;padding:0}
caption,th{text-align:left}
h1,h2,h3,h4,h5,h6{font-weight:normal;font-size:100%;margin:0;padding:0;color:#444}
q:before,q:after{content:''}
abbr,acronym{border:0}
h1{font-family:arial,helvetica;color:#fff;margin:0;padding:0}
.section{text-align:center;overflow:hidden}
#myVideo{position:absolute;right:0;bottom:0;top:0;right:0;width:100%;height:100%;background-size:100% 100%;background-color:black;background-position:center center;background-size:contain;object-fit:cover;z-index:3}
#section0 .layer{position:absolute;z-index:4;width:100%;left:0;top:43%}
#section0{overflow:hidden}
#infoMenu li a{color:#fff}
body{font-family:arial,helvetica;color:#333;color:rgba(0,0,0,0.5)}
.wrap{margin-left:auto;margin-right:auto;width:960px;position:relative}
h1{font-size:3em}
p{font-size:2em}
.intro p{width:50%;margin:0 auto;font-size:1.5em}
.section{text-align:center}
#menu li{display:inline-block;margin:10px;color:#000;background:#fff;background:rgba(255,255,255,0.5);-webkit-border-radius:10px;border-radius:10px}
#menu li.active{background:#666;background:rgba(0,0,0,0.5);color:#fff}
#menu li a{text-decoration:none;color:#000}
#menu li.active a:hover{color:#000}
#menu li:hover{background:rgba(255,255,255,0.8)}
#menu li a,#menu li.active a{padding:9px 18px;display:block}
#menu li.active a{color:#fff}
#menu{position:fixed;top:0;left:0;height:40px;z-index:70;width:100%;padding:0;margin:0}
.twitter-share-button{position:fixed;z-index:99;right:149px;top:9px}
#download{margin:10px 0 0;padding:15px 10px;color:#fff;text-shadow:0 -1px 0 rgba(0,0,0,0.25);background-color:#49afcd;background-image:-moz-linear-gradient(top,#5bc0de,#2f96b4);background-image:-ms-linear-gradient(top,#5bc0de,#2f96b4);background-image:-webkit-gradient(linear,0 0,0 100%,from(#5bc0de),to(#2f96b4));background-image:-webkit-linear-gradient(top,#5bc0de,#2f96b4);background-image:-o-linear-gradient(top,#5bc0de,#2f96b4);background-image:linear-gradient(top,#5bc0de,#2f96b4);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5bc0de',endColorstr='#2f96b4',GradientType=0);border-color:#2f96b4 #2f96b4 #1f6377;border-color:rgba(0,0,0,.1) rgba(0,0,0,.1) rgba(0,0,0,.25);filter:progid:DXImageTransform.Microsoft.gradient(enabled=false);-webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px;vertical-align:middle;cursor:pointer;display:inline-block;-webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);-moz-box-shadow:inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);box-shadow:inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05)}
#download a{text-decoration:none;color:#fff}
#download:hover{text-shadow:0 -1px 0 rgba(0,0,0,.25);background-color:#2F96B4;background-position:0 -15px;-webkit-transition:background-position .1s linear;-moz-transition:background-position .1s linear;-ms-transition:background-position .1s linear;-o-transition:background-position .1s linear;transition:background-position .1s linear}
#infoMenu{height:20px;color:#f2f2f2;position:fixed;z-index:70;bottom:0;width:100%;text-align:right;font-size:.9em;padding:8px 0}
#infoMenu ul{padding:0 40px}
#infoMenu li a{display:block;margin:0 22px 0 0;color:#333}
#infoMenu li a:hover{text-decoration:underline}
#infoMenu li{display:inline-block;position:relative}
#examplesList{display:none;background:#282828;-webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px;padding:20px;float:left;position:absolute;bottom:29px;right:0;width:638px;text-align:left}
#examplesList ul{padding:0}
#examplesList ul li{display:block;margin:5px 0}
#examplesList ul li a{color:#BDBDBD;margin:0}
#examplesList ul li a:hover{color:#f2f2f2}
#examplesList .column{float:left;margin:0 20px 0 0}
#examplesList h3{color:#f2f2f2;font-size:1.2em;margin:0 0 15px;border-bottom:1px solid rgba(0,0,0,0.4);-webkit-box-shadow:0 1px 0 rgba(255,255,255,0.1);-moz-box-shadow:0 1px 0 rgba(255,255,255,0.1);box-shadow:0 1px 0 rgba(255,255,255,0.1);padding:0 0 5px}
#demosMenu{position:fixed;bottom:10px;right:10px;z-index:999}
.loging-btn{color:#fff;font-size:18px;padding:7px;border-radius:5px;border:2px solid #ffffff;text-decoration:none;width:130px;display:inline-block}
.loging-btn:hover{background-color:rgba(0,0,0,0.7)}
.color-w{color:#ffffff}
#section0 .layer-me{position:absolute;z-index:4;width:100%;left:0;bottom:3%}
#section0 .mute{position: absolute;
    z-index: 4;
    width: 100%;
    left: 0;
    bottom: 16%;
    font-size: 31px;
    color: #ffffff;
    cursor: pointer;}
.h-logo{z-index:9999;position:absolute;top:0;left:0}
.h-full-width{width:100%}
.text-over-img{position:absolute;z-index:4;left:20px;bottom:5%;color:#fff;font-size:25px;background-color:rgba(0,0,0,0.7);padding:20px;border-radius:10px}
small{font-size:14px}
.desdes{padding-left:10%;padding-right:10%;color:#fff;font-size:18px}
#container_demo{text-align:left;margin:0;padding:0;margin:0 auto}
a.hiddenanchor{display:none}
#wrapper a{color:rgb(95,155,198);text-decoration:underline}
#wrapper h1{font-size:48px;color:#232c60;padding:2px 0 10px;font-weight:bold;text-align:center;padding-bottom:30px;background:-webkit-repeating-linear-gradient(-45deg,rgb(44,100,162),rgb(34,85,142) 20px,rgb(52,115,186) 20px,rgb(52,115,186) 40px,rgb(35,44,96) 40px);-webkit-text-fill-color:transparent;-webkit-background-clip:text}
#wrapper h1:after{content:' ';display:block;width:100%;height:2px;margin-top:10px;background:transparent -moz-linear-gradient(left center,rgba(147,184,189,0) 0%,#232C60 20%,#232C60 53%,#232C60 79%,rgba(147,184,189,0) 100%) repeat scroll 0 0;background:-webkit-gradient(linear,left top,right top,color-stop(0%,rgba(147,184,189,0)),color-stop(20%,rgb(35,44,96)),color-stop(53%,rgb(35,44,96)),color-stop(79%,rgb(35,44,96)),color-stop(100%,rgba(147,184,189,0)));background:-webkit-linear-gradient(left,rgba(147,184,189,0) 0%,rgb(35,44,96) 20%,rgb(35,44,96) 53%,rgb(35,44,96) 79%,rgba(147,184,189,0) 100%);background:-o-linear-gradient(left,rgba(147,184,189,0) 0%,rgba(147,184,189,0.8) 20%,rgba(147,184,189,1) 53%,rgba(147,184,189,0.8) 79%,rgba(147,184,189,0) 100%);background:-ms-linear-gradient(left,rgba(147,184,189,0) 0%,rgba(147,184,189,0.8) 20%,rgba(147,184,189,1) 53%,rgba(147,184,189,0.8) 79%,rgba(147,184,189,0) 100%);background:linear-gradient(left,rgba(147,184,189,0) 0%,rgba(147,184,189,0.8) 20%,rgba(147,184,189,1) 53%,rgba(147,184,189,0.8) 79%,rgba(147,184,189,0) 100%)}
#wrapper p{margin-bottom:15px}
#wrapper p:first-child{margin:0}
#wrapper label{color:rgb(35,44,96);position:relative;font-size:15px}
::-webkit-input-placeholder{color:rgb(190,188,188);font-style:italic}
input:-moz-placeholder,textarea:-moz-placeholder{color:rgb(190,188,188);font-style:italic}
input{outline:none}
#wrapper input:not([type="checkbox"]){width:96%;margin-top:4px;padding:2%;border:1px solid rgb(178,178,178);-webkit-appearance:textfield;-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;-webkit-box-shadow:0 1px 4px 0 rgba(168,168,168,0.6) inset;-moz-box-shadow:0 1px 4px 0 rgba(168,168,168,0.6) inset;box-shadow:0 1px 4px 0 rgba(168,168,168,0.6) inset;-webkit-transition:all .2s linear;-moz-transition:all .2s linear;-o-transition:all .2s linear;transition:all .2s linear}
#wrapper input:not([type="checkbox"]):active,#wrapper input:not([type="checkbox"]):focus{border:1px solid rgba(91,90,90,0.7);background:rgba(238,236,240,0.2);-webkit-box-shadow:0 1px 4px 0 rgba(168,168,168,0.9) inset;-moz-box-shadow:0 1px 4px 0 rgba(168,168,168,0.9) inset;box-shadow:0 1px 4px 0 rgba(168,168,168,0.9) inset}
#wrapper p.button input{width:30%;cursor:pointer;background:rgb(61,157,179);padding:4px 0;font-family:'BebasNeueRegular','Arial Narrow',Arial,sans-serif;color:#fff;font-size:22px;border:1px solid rgb(28,108,122);margin-bottom:10px;text-shadow:0 1px 1px rgba(0,0,0,0.5);-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;-webkit-box-shadow:0 1px 6px 4px rgba(0,0,0,0.07) inset,0 0 0 3px rgb(254,254,254),0 5px 3px 3px rgb(210,210,210);-moz-box-shadow:0 1px 6px 4px rgba(0,0,0,0.07) inset,0 0 0 3px rgb(254,254,254),0 5px 3px 3px rgb(210,210,210);box-shadow:0 1px 6px 4px rgba(0,0,0,0.07) inset,0 0 0 3px rgb(254,254,254),0 5px 3px 3px rgb(210,210,210);-webkit-transition:all .2s linear;-moz-transition:all .2s linear;-o-transition:all .2s linear;transition:all .2s linear}
#wrapper p.button input:hover{background:rgb(74,179,198)}
#wrapper p.button input:active,#wrapper p.button input:focus{background:rgb(40,137,154);position:relative;top:1px;border:1px solid rgb(12,76,87);-webkit-box-shadow:0 1px 6px 4px rgba(0,0,0,0.2) inset;-moz-box-shadow:0 1px 6px 4px rgba(0,0,0,0.2) inset;box-shadow:0 1px 6px 4px rgba(0,0,0,0.2) inset}
p.login.button,p.signin.button{text-align:right;margin:5px 0}
.keeplogin{margin-top:-5px}
.keeplogin input,.keeplogin label{display:inline-block;font-size:12px;font-style:italic}
.keeplogin input#loginkeeping{margin-right:5px}
.keeplogin label{width:80%}
#register{z-index:21;opacity:0}
#login{z-index:22}
#toregister:target ~ #wrapper #register,#tologin:target ~ #wrapper #login{z-index:22;-webkit-animation-name:fadeInLeft;-moz-animation-name:fadeInLeft;-ms-animation-name:fadeInLeft;-o-animation-name:fadeInLeft;animation-name:fadeInLeft;-webkit-animation-delay:.1s;-moz-animation-delay:.1s;-o-animation-delay:.1s;-ms-animation-delay:.1s;animation-delay:.1s}
#toregister:target ~ #wrapper #login,#tologin:target ~ #wrapper #register{-webkit-animation-name:fadeOutLeft;-moz-animation-name:fadeOutLeft;-ms-animation-name:fadeOutLeft;-o-animation-name:fadeOutLeft;animation-name:fadeOutLeft}
.animate{-webkit-animation-duration:.5s;-webkit-animation-timing-function:ease;-webkit-animation-fill-mode:both;-moz-animation-duration:.5s;-moz-animation-timing-function:ease;-moz-animation-fill-mode:both;-o-animation-duration:.5s;-o-animation-timing-function:ease;-o-animation-fill-mode:both;-ms-animation-duration:.5s;-ms-animation-timing-function:ease;-ms-animation-fill-mode:both;animation-duration:.5s;animation-timing-function:ease;animation-fill-mode:both}
.lt8 #wrapper input{padding:10px 5px 10px 32px;width:92%}
.lt8 #wrapper input[type=checkbox]{width:10px;padding:0}
.lt8 #wrapper h1{color:#066A75}
.lt8 #register{display:none}
.lt8 p.change_link,.ie9 p.change_link{position:absolute;height:90px;background:transparent}
.forget-pas{float:right;font-size:13px;color:#232C60}
.res-img{width:100%}
#wrapper{right:0;min-height:560px;margin:0 auto;width:500px;position:relative}
p.change_link{position:absolute;color:rgb(127,124,124);left:0;height:20px;width:440px;padding:17px 30px 20px;font-size:16px;text-align:right;border-top:1px solid rgb(219,229,232);-webkit-border-radius:0 0 5px 5px;-moz-border-radius:0 0 5px 5px;border-radius:0 0 5px 5px;background:rgb(225,234,235);background:-moz-repeating-linear-gradient(-45deg,rgb(247,247,247),rgb(247,247,247) 15px,rgb(225,234,235) 15px,rgb(225,234,235) 30px,rgb(247,247,247) 30px);background:-webkit-repeating-linear-gradient(-45deg,rgb(247,247,247),rgb(247,247,247) 15px,rgb(225,234,235) 15px,rgb(225,234,235) 30px,rgb(247,247,247) 30px);background:-o-repeating-linear-gradient(-45deg,rgb(247,247,247),rgb(247,247,247) 15px,rgb(225,234,235) 15px,rgb(225,234,235) 30px,rgb(247,247,247) 30px);background:repeating-linear-gradient(-45deg,rgb(247,247,247),rgb(247,247,247) 15px,rgb(225,234,235) 15px,rgb(225,234,235) 30px,rgb(247,247,247) 30px)}
#wrapper p.change_link a{display:inline-block;font-weight:bold;background:rgb(247,248,241);padding:2px 6px;color:rgb(29,162,193);margin-left:10px;text-decoration:none;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;border:1px solid rgb(203,213,214);-webkit-transition:all .4s linear;-moz-transition:all .4s linear;-o-transition:all .4s linear;-ms-transition:all .4s linear;transition:all .4s linear}
#wrapper p.change_link a:hover{color:rgb(57,191,215);background:rgb(247,247,247);border:1px solid rgb(74,179,198)}
#wrapper p.change_link a:active{position:relative;top:1px}
#register,#login{position:absolute;top:0;width:88%;padding:18px 6% 60px;margin:0 0 35px;background:rgb(247,247,247);border:1px solid rgba(147,184,189,0.8);-webkit-box-shadow:0 2px 5px rgba(105,108,109,0.7),0 0 8px 5px rgba(208,223,226,0.4) inset;-moz-box-shadow:0 2px 5px rgba(105,108,109,0.7),0 0 8px 5px rgba(208,223,226,0.4) inset;box-shadow:0 2px 5px rgba(105,108,109,0.7),0 0 8px 5px rgba(208,223,226,0.4) inset;-webkit-box-shadow:5px;-moz-border-radius:5px;border-radius:5px}


button[type=submit] {width: 30%;
    cursor: pointer;
    background: rgb(61,157,179);
    padding: 4px 0;
    font-family: 'BebasNeueRegular','Arial Narrow',Arial,sans-serif;
    color: #fff;
    font-size: 22px;
    border: 1px solid rgb(28,108,122);
    margin-bottom: 10px;
    text-shadow: 0 1px 1px rgba(0,0,0,0.5);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 1px 6px 4px rgba(0,0,0,0.07) inset,0 0 0 3px rgb(254,254,254),0 5px 3px 3px rgb(210,210,210);
    -moz-box-shadow: 0 1px 6px 4px rgba(0,0,0,0.07) inset,0 0 0 3px rgb(254,254,254),0 5px 3px 3px rgb(210,210,210);
    box-shadow: 0 1px 6px 4px rgba(0,0,0,0.07) inset,0 0 0 3px rgb(254,254,254),0 5px 3px 3px rgb(210,210,210);
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
}
button[type=submit]:hover {background: rgb(74,179,198); }



@media only screen and (max-width: 500px) {
#wrapper{width:95%;}

p.change_link{ width:93%; padding: 4%;}

#register, #login {
    padding: 18px 6% 60px;
    margin: 0 0 35px;
  
}
#wrapper p {
    margin-bottom:0px;
}

p.change_link {
   
    font-size: 12px;
   
}
.loging-btn {
    color: #fff;
    font-size: 14px;
    padding: 7px;
    border-radius: 5px;
    border: 2px solid #ffffff;
    text-decoration: none;
    width: 100px;
    display: inline-block;
}

h1{font-size:20px}

.fp-controlArrow {
    top: 80% !important;
   
}

}

.hide-1024{display:block!important}
.show-1024{display:none!important}
@media only screen and (max-width: 1024px) {
.hide-1024{display:none!important}
.show-1024{display:block!important}
}